@import '../../assets/variables.scss';

.Project {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  gap: 20px;

  &_Add{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid $decorationBorder;
    background: $primary5; 
    padding: 5px; 
    cursor: pointer;

    transition: all $defaultTransitionTime ease-in-out;

    &:hover{
      transform: scale(1.01);
    }

    &Text{
      line-height:1;
    }
  }

  &_Content {
    flex: 1 0 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}


