.HomePage {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  gap: 40px;
  &_Content {
    flex: 1 0 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.TEST_INPUT {
  display: flex;
  flex-direction: column;
}
