$textColor: #111213;
$backgroundColor: #eaedf0;
$primaryColor: #374558;
$secondaryColor: #89a0c2;
$accentColor: #4a77b5;

$nomadStatusHealthy: #56b54a;
$nomadStatusWarning: #fca326;
$nomadStatusStopped: #e24329;

$primary20: #dfe2e5;
$decorationBorder: #b6b8bb;
$titleDivider: #11121333;
$primary5: #1112130d;

$defaultTransitionTime: 0.2s;
