@import "../assets/variables.scss";

.Default {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
  &_SidebarContainer {
    min-width: calc(200px - 60px);
    background-color: $primaryColor;
    color: $textColor;
    display: flex;
    flex-direction: column;
    padding: 30px;
    .Default_SidebarTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 900;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(
        270deg,
        $backgroundColor 0%,
        $secondaryColor 100%
      );
      cursor: pointer;
      user-select: none;
    }
  }

  &_Content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    &Wrapper {
      display: flex;
      max-width: 80%;
      min-width: 800px;
      width: 100%;
      flex: 1 0 0;
      padding: 30px 0px 0 0;
    }
  }
}
